* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

:root {
    --one: ;
    --two: ;
    --three: ;
    --four: ;
    --five: ;
}

header {
    margin: 30px;
}

header h1 {
    font-size: 200%;
}

header nav {
    font-size: 100%;
}

body {
    line-height: 1.3;
}

/* "." is class; "#" is id*/
.main-section {
    font-size: 150%;
    margin: 35px;
}